.contain{
    background:black;
    width:500px;
    height: 550px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:50px 0px 70px 0px;
    border: #525252;
    position: absolute;
    top: 20%;
    left: 32%;
    z-index: 2;
    position: absolute;

}
.back{
    margin-top: auto;
    background-color: #485461;
    /*background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);*/
    background-image: url("back.jpg");
    background-size: cover;
    height: 100vh;
    padding-top: 1px;
}

.text1{
    background: #abb5ba;
    border: rgb(8, 8, 8) 1px solid;
    border-bottom: rgb(31, 29, 29) 2px solid;
    padding: 8px;
    width:350px;
    color:#AAAAAA;
    margin-top:25px;
    margin-left: 65px;
    font-size:1em;
    border-radius:4px;
    /* rgb(182, 238, 168)         rgb(42, 158, 51)*/
}
::placeholder{
    color: black;
}



.b:hover {background-color: #3e8e41}

.b{
    border-radius: 30px;
    background-color: #abb5ba;
    width: 180px;
    height: 60px;
    margin-top: 10%;
    margin-left: 155px;
    font-size: large;

}

.b:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}